FLASK_APP=app.py
FLASK_RUN_HOST=0.0.0.0

token='98d6ab8c434c696ce884b479963b75bddf9fb3b2366937babfeffcc3dbed3b2c9958349e3a986cd1da9da'

basedomen='mongo'
port=27017
client= 'vkmonitor'
defaultcollection='photos'
jobscollection='jobs'